.forecast-widget {
    margin: 2rem;
    background-color: rgba(72,72,74, 0.2);
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(72,72,74, 0.2);
  
  .day-sign {
    color: rgb(72,72,74);
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
    text-align: left;
    width: 100%; 
  }
  
  .daily-data {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .day {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.2s;
    border-radius: 10px;

    .forecast-temperature {
      margin: 10px;
    }
  
    .weather-icon {
      max-width: 70px;
      height: auto;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
      }
  }}