.weather-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 2rem;
  border-radius: 10px;
}

.widget-row {
  padding-left:20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  
  .weather-icon {
    max-width: 300px;
    height: auto;
  }
}

.text {
  font-weight: 800;
  color: white;
  font-size: 36px;
}

.temperature {
  color: white;
  font-size: 36px;
}

.weather-details {
  text-align: left;
}


/* Button */
.toggle-button {
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color:  rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.unit {
  font-weight: 800;
  color: white;
}


.checkbox:checked + .slider .unit {
  left: 27px;
}
